<%- include ("../partials/clientHeader")%>

<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="breadcrumbs">
        <a href="/clientIndex">Home</a>
        <span>About Us</span>
      </div>

      <div class="row">
        <div class="col-md-4">
          <figure>
            <img
              src="https://4.imimg.com/data4/IN/PH/MY-3240139/cinema-hall-interior-designing-1000x1000.jpeg"
              alt="CineVerse Cinema"
            />
          </figure>
        </div>
        <div class="col-md-8">
          <p class="leading">
            Welcome to "CineVerse Cinema", the ultimate destination for movie
            lovers. Our state-of-the-art theatres bring the "magic of cinema"
            to life, offering a "world-class entertainment experience".
          </p>
          <p>
            Established in 2022, CineVerse Cinema has been committed to
            "delivering premium-quality visuals, immersive surround sound, and
            a luxurious atmosphere". We curate the "best blockbusters, indie
            films, and international cinema", ensuring there’s something for
            every movie enthusiast.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <h2 class="section-title">Our Vision & Mission</h2>
          <p>
            At CineVerse Cinema, our mission is to "create an unforgettable
            cinematic experience" for every audience. We believe in "pushing
            the boundaries of visual storytelling, embracing cutting-edge
            technology, and fostering a community of passionate moviegoers".
          </p>

          <p>
            We strive to provide an "inclusive space where films from all
            cultures and genres are celebrated". Whether you're here for an
            "action-packed thriller, a heartwarming drama, or a family-friendly
            adventure", CineVerse Cinema is where "cinema lovers unite".
          </p>
        </div>
        <div class="col-md-3">
          <h2 class="section-title">Useful Links</h2>
          <ul class="arrow">
            <li><a href="#">Upcoming Movies</a></li>
            <li><a href="#">Theatre Locations</a></li>
            <li><a href="#">CineVerse Loyalty Program</a></li>
            <li><a href="#">VIP Screenings</a></li>
            <li><a href="#">Corporate Bookings</a></li>
          </ul>
        </div>
      </div>

      <h2 class="section-title">Our Team</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="team">
            <figure class="team-image">
              <img src="dummy/person-1.jpg" alt="" />
            </figure>
            <h2 class="team-name">Emma Johnson</h2>
            <small class="team-title">Founder & CEO</small>
            <div class="social-links">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team">
            <figure class="team-image">
              <img src="dummy/person-2.jpg" alt="" />
            </figure>
            <h2 class="team-name">James Carter</h2>
            <small class="team-title">Managing Director</small>
            <div class="social-links">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team">
            <figure class="team-image">
              <img src="dummy/person-3.jpg" alt="" />
            </figure>
            <h2 class="team-name">Olivia Brown</h2>
            <small class="team-title">Head of Content</small>
            <div class="social-links">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team">
            <figure class="team-image">
              <img src="dummy/person-1.jpg" alt="" />
            </figure>
            <h2 class="team-name">Emma Johnson</h2>
            <small class="team-title">Founder & CEO</small>
            <div class="social-links">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ("../partials/clientFooter")%>
